.student-form{
    height: 900px;
    width: 500px;

    font-family: Roboto, Arial;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-heading{
    font-size: 48px;
    width: 100%;
    border-width: 0;
    margin-left: 45px;
}
.submit-btn{
    height: 45px;
    width: 120px;
    margin-left: 180px;
    background-color: #fa8704;
    border: none;
    color: black;
    font-size: 20px;
}
.logo{
    height: 100px;
    width: 150px;
    margin-left: 150px;
    margin-bottom: 10px;
}
